<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="margin:5%">
    <form method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of project" name="name" <% if (results) { %> value=<%= results[0].toJSON()['name'] %> <% } %>
                <% if (del) { %>readonly <% } %>
                required>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Mentor</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="mentor(s) for the project" name="mentor"
            <% if (results) { %> value=<%= results[0].toJSON()['mentor'] %> <% } %>
                <% if (del) { %>readonly <% } %>
                required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Team</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="team member name (as a string)" name="team"
            <% if (results) { %> value=<%= results[0].toJSON()['team'] %> <% } %>
                <% if (del) { %>readonly <% } %>
                required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="description" name="description"
            <% if (results) { %> value=<%= results[0].toJSON()['description'] %> <% } %>
                <% if (del) { %>readonly <% } %>
                required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Date of Creation</label>
            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="date of creation" name="date_of_creation"
            <% if (results) { %> value=<%= results[0].toJSON()['date_of_creation'] %> <% } %>
                <% if (del) { %>readonly <% } %>
                required>
          </div>
          <button type="submit" class="btn btn-primary">Submit <% if (del) { %> to delete <% } %></button>
      </form>
</body>
</html>